<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header" />
</head>
<body>
<div class="container">

    <div th:replace="action :: action"></div>

    <h2>Carer List</h2>
    <div th:if="${not #lists.isEmpty(carers)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="carer : ${carers}">
                <td th:text="${carer.id}"></td>
                <td th:text="${carer.firstName}"></td>
                <td th:text="${carer.lastName}"></td>
                <td th:text="${carer.email}"></td>
                <td th:text="${carer.phone}"></td>
                <td><a class="btn btn-success" th:href="@{'/carer/' + ${carer.id}}">View</a></td>
                <td><a class="btn btn-warning" th:href="@{'/carer/' + ${carer.id} + '/edit'}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="@{'/carer/' + ${carer.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>

    </div>

    <div class="col-sm-3">
        <a class="btn btn-primary" th:href="@{/carer/add}">New Carer</a>
    </div>

</div>
</body>
</html>

