<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
    <Appenders>

        <RollingFile name="AccessRollingFile" fileName="${sys:catalina.home}/logs/carer/access/carer_access.log"
                     filePattern="${sys:catalina.home}/logs/carer/access/$${date:yyyy}/$${date:MM}/carer_access_%d{dd}.log"
                     append="false">
            <PatternLayout>
                <Pattern>%d - %p - %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO"/>
        </RollingFile>

        <RollingFile name="ErrorRollingFile" fileName="${sys:catalina.home}/logs/carer/error/carer_error.log"
                     filePattern="${sys:catalina.home}/logs/carer/error/$${date:yyyy}/$${date:MM}/carer_error_%d{dd}.log"
                     append="false">
            <PatternLayout>
                <Pattern>%d [%t] - %p - %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="AccessRollingFile"/>
            <AppenderRef ref="ErrorRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
